{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="mt-4" style="width: 80%; margin: auto;">
        {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
        <form action="{{action_url}}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{field | as_crispy_field}}
                </div>
            {% endfor %}
            <button type="submit" class="mt-2 btn btn-lg btn-success">Change Password</button>
        </form>
    {% endif %}
    </div>
{% endblock content %}
