{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mt-4">
    <h2>{{title}}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="equipment-info">
            <h5>Equipment Information</h5>
            <div class="row">
                <div class="col-md-3">
                    {{form.asset_tag|as_crispy_field}}
                </div>
                <div class="col-md-3">
                    {{form.model|as_crispy_field}}
                </div>
                <div class="col-md-3">
                    {{form.category|as_crispy_field}}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-3">
                    {{form.name|as_crispy_field}}
                </div>
                <div class="col-md-3">
                    {{form.manufacturer|as_crispy_field}}
                </div>
                <div class="col-md-3">
                    {{form.purchase_order_number|as_crispy_field}}
                </div>
                <div class="col-md-3">
                    {{form.price|as_crispy_field}}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-3">
                    {{form.description|as_crispy_field}}
                </div>
                <div class="col-md-3">
                    {{form.serial_no|as_crispy_field}}
                </div>
                <div class="col-md-3">
                    {{form.status|as_crispy_field}}
                </div>
                <div class="col-md-3">
                    {{form.service_provider|as_crispy_field}}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    {{form.user_manual}}
                </div>
                <div class="col-md-4">
                    {{form.image}}
                </div>
            </div>

        </div>
        <div class="facility-info mt-4">
            <h5>Location</h5>
            <div class="row">
                <div class="col-md-4">
                    <label for="facility">Facility</label>
                    <select name="facility"  class="form-control">
                       {% for facility in facilities %}
                        <option value="{{facility.id}}">{{facility.name}}</option>
                       {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="department">Department</label>
                    <select name="department" class="form-control">
                        <option>---Select department -----</option>
                        {% for department in departments%}
                        <option value="{{department.id}}">{{department.name}}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn bg-dark text-white mt-4">Update</button>
        <a href="{% url 'equipment_list' %}" class="btn btn-info mt-4">Back</a>
    </form>
</div>
{% endblock content %}

