{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="mt-4">
    <h2>{{title}}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="equipment-info" style="border: 4px solid green; padding: 20px; border-radius: 10px;">
            <h5>Equipment Information</h5>

            <div class="row">
                <div class="row">
                    <div class="col-md-3">
                        {{equipment_form.asset_tag|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{equipment_form.serial_no|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{equipment_form.model|as_crispy_field}}
                    </div>
                    <div class="col-md-3">
                        {{equipment_form.category|as_crispy_field}}
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-3">
                    {{equipment_form.name|as_crispy_field}}
                </div>
                <div class="col-md-3">
                    {{equipment_form.price|as_crispy_field}}
                </div>
                <div class="col-md-3">
                    {{equipment_form.manufacturer|as_crispy_field}}
                </div>

                {% comment %}
                <div class="col-md-3">
                    {{equipment_form.notes|as_crispy_field}}
                </div>
                {% endcomment %}

            </div>
        </div>
        <div class="facility-info mt-4">
            <div class="work-order-info mt-4" style="border: 4px solid green; padding: 20px; border-radius: 10px;">
                <h5>Work Order</h5>
                <div class="row">
                    <div class="col-md-4">
                        {{work_order_form.work_order_num|as_crispy_field}}
                    </div>
                    <div class="col-md-4">
                        {{work_order_form.problem|as_crispy_field}}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        {{work_order_form.work_carried|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{work_order_form.work_order_report|as_crispy_field}}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        {{work_order_form.update|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{work_order_form.date_of_update|as_crispy_field}}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn bg-dark text-white mt-4">Save</button>
    </form>
</div>
{% endblock content %}
