{% extends 'base.html' %}
{% block content %}
<div class="mt-4">
    <h1>Unscheduled Work Orders</h1>

<div class="table-responsive">

   <table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Equipment Asset Tag</th>
            <th>Serial No</th>
            <th>Name</th>
            <th>Description</th>
            <th>Work Order Number</th>
            <th>Problem</th>
            <th>Work Carried</th>
            <th>Status</th>
        </tr> 
    </thead>
    <tbody>
        {% for work_order in work_orders %}
        <tr>
            <td>{{ work_order.equipment.asset_tag}}</td>
            <td>{{ work_order.equipment.serial_no}}</td>
            <td><a href="{% url 'edit_equipment' asset_tag=work_order.equipment.asset_tag %}">{{ work_order.equipment.name }}</a></td>
            <td>{{ work_order.equipment.description }}</td>
            <td>{{ work_order.work_order_num}}</td>
            <td>{{ work_order.problem}}</td>
            <td>{{ work_order.work_carried }}</td>
            <td>{{ work_order.status }}</td>
            <td></td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>

</div>
{% endblock content %}
